/* ### DESKTOP PORTRAIT CSS | WIDTH: 1025PX+*/
/* ### MAIN ### */

body {
  max-width: 1920px;
  margin: auto;
}

.footer {
  max-width: 1920px;
  margin: auto;
  padding-left: 3%;
}

.header__title {
  font-size: 4em;
}

.header_menus a {
  font-size: 2rem;
  bottom: 2.3vw;
}

.place {
  box-shadow: none;
}

.place .fa-map-marker-alt {
  margin-right: 1%;
}

.explore__btn {
  width: 15rem;
}
.tuto__title {
  padding-left: 3%;
}

.tuto__steps {
  flex-direction: row;
}

.tuto__number {
  font-size: 13px;
}

.restaurants__title {
  padding-left: 3%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  width: 90%;
  padding-bottom: 3%; 
}

.menu__title {
  font-size: 3rem;
  padding-left: 1rem;
}

.submenus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.submenu__title {
  font-size: 1.5rem;
}

.submen__price {
  right: -4%;
}
.submenu__tick {
  right: -100px;
}

.submenu__item:hover .submenu__tick {
  transform: translateX(-100px);
}

.submenu__item:hover .submenu__price {
  transform: translateX(-55px);
}

.order__btn {
  width: 33%;
}