body {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.main {
  font-family: "Montserrat", sans-serif;
  background-color: #dfbd7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  height: 70px;
}
.header .cart {
  color: white;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header .cart__icon {
  font-size: xx-large;
  color: white;
}
.header .cart__number {
  font-size: medium;
  margin-top: 5px;
  margin-left: 4px;
}

.footer {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 120px;
}
.footer ul a {
  font-size: small;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

.productstitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 100px;
}

.productscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 14rem;
}

#products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  background-color: #3d3934;
  width: 225px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: 0.3s;
  text-decoration: none;
}
.product:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.product__img {
  object-fit: cover;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.product__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-weight: 600;
  color: white;
}
.product__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: white;
}

.returnarrow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.productcontainer {
  margin-bottom: 7rem;
}

.productinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3d3934;
  width: 300px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  border: black solid 1px;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: 0.3s;
  text-decoration: none;
  margin-top: 3rem;
}
.productinfo__img {
  object-fit: cover;
  height: 200px;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
}
.productinfo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-weight: 600;
  color: white;
}
.productinfo__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: white;
}
.productinfo__description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  font-size: smaller;
  text-align: center;
  color: white;
}
.productinfo__lensewrap {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.productinfo__lensetext {
  font-size: small;
  margin-right: 10px;
}

.productbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  width: 50%;
  order: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 600;
  height: 40px;
  border-radius: 6px;
}

.returnbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  margin-top: 18px;
  text-decoration: none;
  color: black;
  background-color: rgba(128, 128, 128, 0.966);
  border-radius: 0px 0px 20px 20px;
  border: 2px solid #a38a5b;
  width: 100%;
  height: 25px;
  font-size: small;
}

#cartcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

#cartcontainer h2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

#cartempty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37rem;
}

#cart__list {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px dashed black;
}

.cart__name {
  display: flex;
  align-items: center;
  text-align: center;
  width: 33%;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.cart__price {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  width: 33%;
  font-weight: 600;
  margin-right: 0.5rem;
}

.cart__option {
  display: flex;
  align-items: center;
  text-align: center;
  width: 33%;
  font-style: italic;
  font-size: small;
}

.cart__delete {
  cursor: pointer;
  color: #f14c4c;
}

#cart__total {
  display: flex;
  width: 28%;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1rem;
}

.cart__textprice {
  font-weight: bold;
}

#cart__empty {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 14px;
  background-color: wheat;
  height: 35px;
  padding: 10px;
}

#formcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 13rem;
}
#formcontainer h2 {
  margin-bottom: 25px;
}

label {
  float: left;
  clear: left;
  width: 125px;
  text-align: right;
}

input {
  padding-left: 5px;
}

label, input {
  font-family: "Montserrat", sans-serif;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:active {
  padding-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__names {
  display: flex;
  margin-bottom: 10px;
}
.form__adress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
.form__cityzip {
  display: flex;
  margin-bottom: 10px;
}
.form__contact {
  display: flex;
  margin-bottom: 10px;
}
.form__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__submit {
  font-family: "Montserrat", sans-serif;
  font-size: 300;
  font-weight: bold;
  width: 25%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 14px;
  background-color: #178b65;
  height: 3rem;
  border: 1px solid gold;
  transform: scale(1);
  transition: 0.3s;
}
.form__submit:hover {
  transform: scale(1.25);
  transition: 0.3s;
}

.form__adress input {
  width: 40%;
}

#cartempty {
  display: flex;
  flex-direction: column;
}

.cartempty__text {
  font-size: large;
  font-weight: bold;
}

.cartempty__returnbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  margin-top: 18px;
  text-decoration: none;
  background-color: rgba(128, 128, 128, 0.966);
  border: 2px solid #a38a5b;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 45px;
  font-size: small;
  color: white;
}

/*# sourceMappingURL=style.css.map */
