/* ### TABLET PORTRAIT CSS | WIDTH: 481PX TO 768PX ### */

#products {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.product {
  margin: 1rem 0rem 1rem 0rem;
}


/* ### PRODUCT ### */

#cart__list {
  width: auto;
}



.form__submit {
  width: 50%;
}

.form__names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.form__adress {
  width: auto;
}

.form__adress input {
  width: auto;
}

.form__cityzip {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form__contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}