/* ### TABLET PORTRAIT CSS | WIDTH: 768PX TO 1024PX ### */
/* ### MAIN ### */

body {
  max-width: 1024px;
}

.footer {
  max-width: 1024px;
}

.explore__btn {
  width: 15rem;
}

.tuto__steps {
  flex-direction: row;
}

.tuto__step {
  font-size: 0.9rem;
  white-space: nowrap;
}

.tuto__text {
  padding-left: 10px;
}

.tuto__step i {
  padding-left: 0;
}  

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.menu__title {
  font-size: 3rem;
}

.submenu__title {
  font-size: 1.5rem;
}
.submenu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submenu__item {
  width: 66%;
}

.submenu__tick {
  right: -15%;
}

.submenu__item:hover .submenu__tick {
  transform: translateX(-100%);
}

.submenu__item:hover .submenu__price {
  transform: translateX(-125%);
}

.order__btn {
  width: 33%;
}