body {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.main {
  font-family: 'Montserrat', sans-serif;
}

.header {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
&__logo {
  height: 70px;
}
.cart {
  color: white;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &__icon {
    font-size: xx-large;
    color: white;
  }
  &__number {
    font-size: medium;
    margin-top: 5px;
    margin-left: 4px;
  }
}
}

.footer {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  & ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-right: 120px;
  & a {
    font-size: small;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
  }
}

p, h1, h2, h3, h4 {
  margin: 0;
}
