.productwrap {
  background-color: $primary-bg-color;
  @include center;
  flex-direction: column;
}

.productstitle {
  @include center;
  font-weight: 700;
  margin: 2rem 0rem 2rem 0rem;
}

.productscontainer {
  @include center;
  padding: 2rem;
}

#products {
  @include center;
  margin-bottom: 15rem;
}

.product {
  background-color: $tertiary-color;
  width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
  transform: scale(1);
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
&__img {
  object-fit: cover;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
&__title {
  @include center;
  margin-top: 8px;
  font-weight: 600;
  color: white;
}
&__price {
  @include center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: white;
}
}